/* 전체 스타일 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* body 스타일 */
  body {
    font-family: sans-serif;
    text-align: center;
    overflow-x: hidden; /* 모바일에서 가로 스크롤이 생기지 않도록 함 */
  }
  
  /* header 스타일 */
  header {
    background-color: #fbdf85;
    padding: 20px;
  }
  
  /* footer 스타일 */
  footer {
    background-color: #fbdf85;
    color: #555;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* h1 스타일 */
  h1 {
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
  }
  
  /* img 스타일 */
  img {
    max-width: 100%;
    height: auto;
    margin: 30px 0;
  }
  
  /* input 스타일 */
  input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
    margin-bottom: 30px;
  }
  
  /* button 스타일 */
  button {
    padding: 10px 20px;
    background-color: #fbdf85;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f5cf5e;
  }
  
  /* .result-wrap 스타일 */
  .result-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  /* .result-text 스타일 */
  .result-text {
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0;
    max-width: 80%;
  }
  
  /* .result-image 스타일 */
  .result-image {
    margin: 30px 0;
    max-width: 100%;
  }
  
  /* .result-box 스타일 */
  .result-box {
    border-radius: 10px;
    border: 2px solid #fbdf85;
    padding: 30px;
    max-width: 80%;
    margin-bottom: 50px;
  }
  