body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    text-align: center; /* 모든 콘텐츠를 가운데정렬 */
  }
  
  /* 공통 스타일 */
  h1 {
    margin: 30px 0;
    font-size: 32px;
    font-weight: bold;
  }
  
  h2 {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* 이미지 중앙정렬 */
  }
  
  button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #4a69bd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  input[type=text] {
    padding: 10px;
    font-size: 18px;
    border: 2px solid #4a69bd;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .box {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #4a69bd;
    background-color: #f7fafc;
    display: inline-block;
    text-align: center;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #c5c5c5;
  }
  
  /* index.html */
  .container {
    margin: 0 auto;
    max-width: 600px;
  }
  
  /* result.html */
  .container-result {
    margin: 0 auto;
    max-width: 600px;
  }
  
  #question {
    font-size: 1.5em;
    text-align: center;
  }
  